<ion-view view-title="账号设置">
  <ion-content>
    <ion-list>
      <ion-item><span style="float: left">头像</span><span style="float: right"></span></ion-item>
      <ion-item><span style="float: left">账号</span><span style="float: right">{{myInfo.userName}}</span></ion-item>
      <ion-item><span style="float: left">昵称</span><span style="float: right">{{myInfo.nickname}}</span></ion-item>
      <ion-item><span style="float: left">性别</span><span style="float: right">{{myInfo.gender}}</span></ion-item>
      <ion-item><span style="float: left">签名</span><span style="float: right">{{myInfo.signature}}</span></ion-item>
    <!--<ion-toggle  ng-model="settings.enableFriends">-->
        <!--Enable Friends-->
    <!--</ion-toggle>-->
    </ion-list>
  </ion-content>
</ion-view>
